/* src/App.css */
.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #f0f2f5;
}

/* Sidebar */
.sidebar {
  width: 15%;
  background-color: #1a1a2e;
  color: #fff;
  display: flex;
  flex-direction: column;
  background-image: url(../public/background.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.brand {
  padding: 15px;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid white;
  text-align: center;
}

.nav-menu {
  padding: 20px 0px;
}

.nav-menu button {
  background: transparent;
  border: none;
  color: #a0a0a0;
  width: 100%;
  padding: 15px 25px;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

.nav-menu button:hover {
  background-color: #16213e;
  color: #fff;
}

.nav-menu button.active {
  background-color: #e94560; /* Cor de destaque */
  color: #fff;
  font-weight: bold;
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 30px;
  /* overflow-y: auto; */
}

.welcome-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

/* Perfil do Usuário na Sidebar */
.sidebar-profile {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
}

.sidebar-profile-img {
  width: 50px;
  height: 50px; /* Garante que fique redondo mesmo se a imagem não for quadrada */
  border-radius: 50%;
  border: 2px solid white;
  margin-bottom: 8px; /* Espaço entre a foto e o texto */
  object-fit: cover; /* Evita que a foto fique distorcida */
}

.sidebar-profile-text {
  color: white;
  font-size: 0.85rem;
  font-weight: 500;
}

/* Tela de Carregamento */
.loading-screen {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2c3e50;
  font-size: 1.2rem; /* Adicionei um tamanho de fonte para ficar melhor */
  font-weight: 500;
}